@mixin pink-frame {
    border: 1px solid $pink;
    margin-top: 5px;
}
@mixin mail {    
        text-decoration: none;
        color: $black;
        &:hover {
          font-weight: bold;
        }    
}