header{
    background-color: #F3E9F1;
    padding: 10px 0 10px 0;    
    width: 100%;
    div{
        justify-content: space-around;
        align-items: center;
    }
       
}
nav{
    ul{
        align-items: center;
        li{
            padding: 5px;            
        }
    
    }
}
