header{     
    margin-bottom: 30px;    
    background-color: $background;    
    padding: 10px 0 10px 0;
    div{
        >a{
            display:flex;
            max-width: 300px;
            justify-content: center;
        }
        nav{
   
            padding: 20px;    
            a {
                text-decoration: none;
                color: black;
                
            }
            ul{
                justify-content: space-around;
                align-items: center;
                li{                   
                    flex-basis: 40%;                   
                    text-align: center;
                    font-size: 1.3rem;
                    font-weight: bold;                             
                }
            
            }
        }
    }    
    
       
}

