@import "../main.scss";
h1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px;
}
#product {    
  figure {
    @include pink-frame;
    padding: 20px 5px 10px 5px;
    margin-bottom: 30px;    
    position: relative;
    flex-direction: column;
    i {
      color: $darkPink;
      position: absolute;
      right: 9px;
      top: 5px;
    }
   
    figcaption {
      padding: 5px;
      flex-direction: column;
      .container_teddies {
        display: flex;
        margin-bottom: 10px;
        border-bottom:  thick double $darkPink;
        .name {
          text-align: center;
        }
        .color {

        }
        .quantity{
          
        }
      }
      p {
        background: $lightPink;
        padding: 15px;
      }
      #item-number {
        padding: 15px 0 15px 0;
        align-items: baseline;
        input {
          border: none;
          background: $lightPink;
          margin-left: 5px;          
          text-align: center;
        }
      }
      span {
        font-weight: bold;
        margin-top: 15px;
        text-align: center;
      }
    }
    img {
      max-width: 60px;
      
    }
  }
}
#product,#basket-summary,
#order-form {
  h2 {
    text-align: center;
    background: $pink;
    padding: 5px 0 5px 0;
  }
  
}
#order-form,#basket-summary{
  .information, .summary {
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    @include pink-frame;   
    .form-group, p {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }  
}

@media (min-width: 590px) {
  .container {
    section {
      &#product {
        figure {
          flex-direction: row;
        }
      }
    }
  }
}
@media (min-width: 980px) {
  .container {
    max-width: 1024px;    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    section {
      &#product {
        flex-basis: 60%;
      }
      &#recap{
        flex-basis: 35%;
      }
      
    }
  }
}
