@import "../main.scss";
h1 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px;
}
h3{  
    text-align: center;
    font-size: 1.1rem;          
    font-weight: bold;
    margin-bottom: 5px;  
}
.empty_basket {
  text-align: center;
}
#product {    
  figure {
    @include pink-frame;
    padding: 20px 5px 10px 5px;
    margin-bottom: 30px;    
    position: relative;
    flex-direction: column;
    i {
      color: $darkPink;
      position: absolute;
      right: 9px;
      top: 5px;
    }
   
    figcaption {
      padding: 5px;
      flex-direction: column;
      .container_teddies {
        display: flex;
        margin-bottom: 10px;
        border-bottom:  thick double $darkPink;
        .Container_image{
          flex-basis: 20%;
        }
        .container_summary{
          flex-basis: 80%;
          p{
            margin-bottom: 5px;
          }
        }
        
        .price {          
          color: $grey;          
        }
        .color, .quantity {
          text-align: center;
        }
        
        
      }
      p {
        background: $lightPink;
        padding: 5px;        
        text-align: end;
      }
      
      span {
        font-weight: bold;
        margin-top: 15px;
        text-align: center;
      }
    }
    img {
      width: 120px;
      height: 80px;
      object-fit: cover;
      
    }
  }
}
#product,#basket-summary,
#order-form {
  h2 {
    text-align: center;
    background: $pink;
    padding: 5px 0 5px 0;
  }
  
}
#order-form,#basket-summary{
  .information, .summary {
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    @include pink-frame;   
    .form-group, p {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;
    }
  }  
}

@media (min-width: 590px) {
  .container {
    section {
      &#product {
        figure {
          flex-direction: row;
        }
      }
    }
  }
}
@media (min-width: 980px) {
  .container {
    max-width: 1024px;    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    section {
      &#product {
        flex-basis: 45%;
      }
      &#recap{
        flex-basis: 45%;
      }
      
    }
  }
   form label, span{
    width: 30%;
  }
}
