@import "../main.scss";
#product {
  margin: 10px 0 10px 0;
}
#order_form {
  margin-top: 10px;
  h2 {
    text-align: center;
    background: $pink;
  }
  .information {
      margin-top: 10px;
    .form-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
  }
  .payment_method {
    flex-direction: column;
    label {
      text-align: center;
      background: $pink;
    }
    #bank_card {
      margin-top: 10px;
      text-align: center;
    }
  }
}
