@import "../main.scss";
h1 {
  text-align: center;
}
#product {
  flex-direction: column;  
  figure {
    border: 1px solid pink;
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    
    figcaption {
      background: #ede6eb;
      padding: 5px;
      margin-bottom: 10px;
    }

    img {
      max-width: 100%;
    }
    span {
      font-weight: bold;
    }
    select{
        width: 100%;
        margin-left:auto;
        margin-right:auto;
        margin-top: 10px;
        border: 1px solid $border;
        padding: 5px;
        &:active{
            border: 1px solid $btnCart;
        }
    }
  }
}
