@import "../main.scss";
h1 {
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
}
p,
span,
label,
select,
button {
  font-size: 1.2rem;
}
#product {
  article {
    display: flex;
    flex-direction: column;
    select {
      width: 100%;
      margin-top: 10px;
      border: 1px solid $pink;
      padding: 5px;
    }
    figure {
      flex-direction: column;
      border: 1px solid $pink;
      padding: 20px 20px 10px 20px;
      margin-bottom: 30px;
      margin-top: 30px;

      figcaption {
        padding: 5px;
        flex-direction: column;
        align-items: center;
        p {
          background: $lightPink;
          padding: 15px;
        }
      }

      img {
        max-width: 100%;
      }
      span {
        font-weight: bold;
        margin-top: 15px;
      }
    }
  }
  #customization {
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  #addToCart {
   margin-bottom: 30px; 
   border: 1px solid #ffc0cb;     
  }
}

@media (min-width: 758px) and (max-width: 999px) {
  #product {
    article {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (min-width: 990px) {
  #product {
    article {
      max-width: 700px;
      margin: auto;
      figure {
        flex-direction: row;
        figcaption {
          justify-content: space-around;
        }
      }
    }
    #customization {
      flex-direction: row;
      justify-content: space-between;
      label {
        flex-basis: 40%;
      }
      select {
        flex-basis: 50%;
      }
    }    
  }
}
