@import "../main.scss";
h1 {
  text-align: center;
  font-size: 1.8rem;
}
p,
span,
label,
select,
button {
  font-size: 1.2rem;
}
#product {
  figure {
    flex-direction: column;
    border: 1px solid $pink;
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    figcaption {
      padding: 5px;
      flex-direction: column;
      align-items: center;
      p {
        background: $lightPink;
        padding: 15px;
      }
    }
    img {
      max-width: 100%;
    }
    span {
      font-weight: bold;
      margin-top: 15px;
    }
  }
  form {
    #customization {
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
      select {
        width: 100%;
        margin-top: 10px;
        border: 1px solid $pink;
        padding: 5px;
      }
    }
    #item-number {
      justify-content: space-around;
      border: 1px solid $pink;
      padding: 5px;
      margin-bottom: 15px;
      input {
        text-align: center;
        padding: 0 5px 0 5px;
        width: 40px;
        margin: 0;
      }
    }
  }
}
@media (min-width: 758px) and (max-width: 999px) {
  #product {
    figure {
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (min-width: 990px) {
  #product {
    figure {
      max-width: 700px;
      margin: auto;
      flex-direction: row;
      figcaption {
        justify-content: space-around;
      }
    }
    form {
      max-width: 700px;
      margin: auto;
      #customization {
        flex-direction: row;
        justify-content: space-between;
        label {
          flex-basis: 40%;
        }
        select {
          flex-basis: 50%;
        }
      }
      .btn {
        width: 50%;
        margin-left: 175px;
      }
    }
  }
}
